* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.content {
    transform: translateY(75%);
    text-align: left;
    color: black;
    margin: auto;
    width: 50%;
}
  
.content h1 {
    font-size: 35px;
    margin-top: 80px;
    margin-bottom: 25px;
}
  
.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    margin-bottom: 100px;
}