* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  background: darkolivegreen;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.navbar ul li a:hover {
  color: darkolivegreen;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  transform: translateY(75%);
  text-align: center;
  color: black;
  margin: auto;
  width: 50%;
}

.content h1 {
  font-size: 35px;
  margin-top: 80px;
  margin-bottom: 25px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  margin-bottom: 100px;
}

div.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.list-inline-item {
  list-style-type: none;
}

ul.list-inline-item li {
    float: right;
    height: 50px;
    width: 50px;
    margin: 0px 5px 0px 5px;
    border-radius: 30px;
}

img {
  width: 50px;
  height: 50px;
}

img:hover {
  cursor: pointer;
}

footer {
  height: 10vh;
}