* {
  padding: 0;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-color: beige;
  background-size: cover;
  background-position: center;
}

.content {
  width: 100%;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  color: black;
  text-align: center;
}

.content h1 {
  font-size: 35px;
  margin-top: 80px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}