* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 245);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: right;
  border: 1px solid black;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  border: 1px solid black;
}

.navbar ul li a {
  text-decoration: none;
  color: darkolivegreen;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: darkolivegreen;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  text-align: center;
  color: darkolivegreen;
  border: 1px solid black;
  margin: auto;
}

.content h1 {
  font-size: 35px;
  margin-top: 80px;
  margin-bottom: 25px;
  border: 1px solid black;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  margin-bottom: 100px;
  border: 1px solid black;
}

button {
  width: 150px;
  padding: 10px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid darkolivegreen;
  background: transparent;
  color: darkolivegreen;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span {
  background: darkolivegreen;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
  color: white;
}
